body {
    background-color: #e0e0e0;
    font-family: "Times New Roman";
}

.heading {
    text-align: center;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
}

.buttonstyle {
    border-radius: 0;
    border-style: none;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
    margin: 5px;
}